body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.formulario {
    width: 700px;
    background: white;
    padding: 20px;
    border: 1px solid ;
    border-radius: 12px;
}

.titulo > :first-of-type {
    font-size: 24px;
    margin-bottom: 5px;
}

.nombre {
    margin-bottom: 12px;
}
 .titulo > :last-of-type {
    font-size: 12px;
    color: red;
    margin-bottom: 5px;
    margin-top: 25px;
}



fieldset {
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    padding: 0 5px;
}

.prof {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    text-align: center;
}

.escribir {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    margin: 13px;
    width: 80%;
    margin-left: 60px;
    text-align: center;
    justify-content: center;
    padding: 2px;
    

}

.metodo {

    height: 55px;
}

.escribir input {

    text-align: center;
    border-radius: 3px;


}

.escribir select {

    size: 14 px;



}
.escribir label {
    font-size: 15px;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.asterisco {
    color: red;
}
 
 .escribir select {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
}


 label {
    font-family: monospace;
}

.politica label {
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    text-align: center;
    flex-direction: column;
}



.botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button {
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.validar_pago {
    background-color: #f39c12; 
    color: white;
    border: none;
}

.cancelar_pago  {
    background-color: #fff;
    color: #f39c12;
    border: 1px solid #f39c12;

}

 .botones button:first-of-type:hover  {
    filter: brightness(1.2);
    transition: 0s;
    
    
}


 .botones button:last-of-type:hover  {
    transition: 0s;
    border-style: dashed;
    
}
