
    * {
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 14px;
		line-height: 1.6;
		color: #494949;
    }


    p {
	    color: #666;
    }



	h1 {
			font-weight: bold;
			font-size: 22px;
			color: #DD1E64;
	}

    

	head{
		background-color: pink;
		border: 1px #DD1E64 solid;
	}


    
		
	#descripcion{
		font-size: 16px;
		text-decoration: underline;
		font-weight: bold;
	}

    

	.especial span{

			font-weight: bold;
			font-size: 20px;
			color: yellowgreen;
	}

    		
	#destacado{
		margin: 15px;
		border: 2px dashed #494949;
		}

        
		
	#anuncio{

		width: 80%;
		margin: 20px;
		padding: 15px;
		background-color: #DD1E64;
        color: white
	}

    
    .cabecera a{
			color:blueviolet;
			font-weight: bold;
		}
